<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Fatima Bernardes Admin</span>
    <div class="spacer"></div>
</div>

<div class="content">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <div>
      <label for="hashtag">Digite uma #: </label>
      <input (keyup)="onKey($event)" required #valor>
    </div>
    <br>
    <div>
      <button (click)="getTweets(hashtag)">Enviar</button>
    </div>
    <br>
  </div>
  <p>{{hashtag}}</p>
  <div *ngFor="let item of tweetsList">
    <article class="twitter-card" id="{{item.tweet_id}}">
      <div class="header">
        <img src="{{item.author.author_image}}" alt="" />
        <div class="header-text">
          <span class="name">{{item.author.author_name}}</span>
          <span class="nickname">{{item.author.auhor_username}}</span>
        </div>
      </div>
      <span [innerHTML]="item.tweet_text"></span>
      <button (click)="sendTwitter(item)">Aprovar</button>
    <button >Desaprovar</button>
    </article>
  </div>
</div>
