.container {
	 position: absolute;
	 width: 100vw;
	 height: 100vh;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 color: #8899a6;
	 font-family: sans-serif;
   font-size: 40px;
   background-color: #17202a;
}
 .container .card {
	 border: 2px solid #8899a6;
	 border-radius: 10px;
	 width: 50vw;
	 padding: 1.5rem;
	 box-shadow: 5px, 5px, 2px rgba(0, 0, 0, 0.5);
}
 .container .card .header {
	 display: flex;
	 flex-direction: row;
	 margin-bottom: 1rem;
}
 .container .card .header img {
	 width: 100px;
   height: 100px;
   margin-top: 30px;
	 border-radius: 50%;
}
 .container .card .header-text {
	 margin-left: 1rem;
	 margin-top: 2rem;
	 display: flex;
	 flex-direction: column;
}
 .container .card .header-text .name {
	 color: white;
}
